html {
    scroll-behavior: smooth;
}
body {
    margin:0;
    scroll-behavior: smooth;
}
.customnavv {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  scroll-behavior: smooth;
}

.customnavv a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  scroll-behavior: smooth;
}

.customnavv a:hover {
  background: #ddd;
  color: black;
  scroll-behavior: smooth;
}

ul {
    padding-left: 1.5rem;
    scroll-behavior: smooth;
  }

h1 {
    text-align:center;
    scroll-behavior: smooth;
}

h5 {
    text-align:center;
    scroll-behavior: smooth;
}

img {
    display: block;
    margin: auto;
    scroll-behavior: smooth;
}

#MainMenu {
    visibility: hidden;
    scroll-behavior: smooth;
}
footer {
    visibility: hidden;
    scroll-behavior: smooth;
}
header {
    visibility: hidden;
    scroll-behavior: smooth;
}
